// Pretendard
@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-style: normal;
    src: url('/fonts/Pretendard/Pretendard-Light.otf') format('opentype'),
        url('/fonts/Pretendard/Pretendard-Light.woff2') format('woff2'),
        url('/fonts/Pretendard/Pretendard-Light.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/Pretendard/Pretendard-Regular.otf') format('opentype'),
        url('/fonts/Pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('/fonts/Pretendard/Pretendard-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    src: url('/fonts/Pretendard/Pretendard-Medium.otf') format('opentype'),
        url('/fonts/Pretendard/Pretendard-Medium.woff2') format('woff2'),
        url('/fonts/Pretendard/Pretendard-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    src: url('/fonts/Pretendard/Pretendard-SemiBold.otf') format('opentype'),
        url('/fonts/Pretendard/Pretendard-SemiBold.woff2') format('woff2'),
        url('/fonts/Pretendard/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    src: url('/fonts/Pretendard/Pretendard-Bold.otf') format('opentype'),
        url('/fonts/Pretendard/Pretendard-Bold.woff2') format('woff2'),
        url('/fonts/Pretendard/Pretendard-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    src: url('/fonts/Pretendard/Pretendard-ExtraBold.otf') format('opentype'),
        url('/fonts/Pretendard/Pretendard-ExtraBold.woff2') format('woff2'),
        url('/fonts/Pretendard/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    src: url('/fonts/Pretendard/Pretendard-Black.otf') format('opentype'),
        url('/fonts/Pretendard/Pretendard-Black.woff2') format('woff2'),
        url('/fonts/Pretendard/Pretendard-Black.woff') format('woff');
}


// S-CoreDream
@font-face {
    font-family: 'S-CoreDream';
    font-weight: 300;
    src: url('/fonts/S-CoreDream/SCDream3.otf') format('opentype');
}

@font-face {
    font-family: 'S-CoreDream';
    font-weight: 400;
    src: url('/fonts/S-CoreDream/SCDream4.otf') format('opentype');
}

@font-face {
    font-family: 'S-CoreDream';
    font-weight: 500;
    src: url('/fonts/S-CoreDream/SCDream5.otf') format('opentype');
}

@font-face {
    font-family: 'S-CoreDream';
    font-weight: 600;
    src: url('/fonts/S-CoreDream/SCDream6.otf') format('opentype');
}

@font-face {
    font-family: 'S-CoreDream';
    font-weight: 700;
    src: url('/fonts/S-CoreDream/SCDream7.otf') format('opentype');
}

@font-face {
    font-family: 'S-CoreDream';
    font-weight: 800;
    src: url('/fonts/S-CoreDream/SCDream8.otf') format('opentype');
}

@font-face {
    font-family: 'S-CoreDream';
    font-weight: 900;
    src: url('/fonts/S-CoreDream/SCDream9.otf') format('opentype');
}

// Montserrat
@font-face {
    font-family: 'Montserrat';
    font-weight: 300;
    src: url('/fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
    unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url('/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    src: url('/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
    unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    src: url('/fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
    unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: url('/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 800;
    src: url('/fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
    unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 900;
    src: url('/fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
    unicode-range: U+0041-005A, U+0061-007A;
}