@charset "utf-8";

// 프로젝트 - 기본 폰트, 컬러 설정
@import "./font";
@import "./parts/variable";
@import "./parts/mixins";


// 프로젝트 - 레이아웃
@import "./parts/layout";
@import "./parts/contents";

// 프로젝트 - 추가 컴포넌트 등
@import "./content";